<div
  class="tab-pane fade show active"
  id="show-history"
  role="tabpanel"
  aria-labelledby="home-tab"
>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>Jumlah Client</th>
              <th>Jumlah Project</th>
              <th>Jumlah Produk Jadi</th>
              <th>Nama Pimpinan</th>
              <th>Jabatan Pimpinan</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
